* {
  margin: 0;
  padding: 0;
}

/* Colors
Background	   Vanilla Cream	#FFF9EC
Primary	       Bubblegum Blue	#4FBCFF
Secondary	   Froggy Green	#59E391
Accent 1	   Friendly Coral	#FF8A80
Accent 2	   Lemon Pop	#FFD93D
Text (Dark)	   Charcoal Ink	#2E2E2E
*/

h1,
h2,
h3,
p,
button {
  color: #2e2e2e;
}

h2,
h3,
h4 {
  font-family: "bebas-neue", sans-serif;
}

p,
ul {
  font-family: "roboto", sans-serif;
}

.section-inicio {
  background-color: #59e391;
  background-image: url("../assets/header.webp");
  background-size: cover;
  background-position: center;
  padding: 100px;
  text-align: center;
}

.section-inicio h1 {
  font-family: "playfair-display", serif;
  font-weight: 900;
  font-size: 200px;
  color: white;
}
.section-inicio h2 {
  font-family: "playfair-display", serif;
  font-weight: 900;
  font-size: 25px;
  color: rgb(234, 232, 232);
  text-align: right;
  margin-right: 180px;
}

.section-sobremi {
  height: 350px;
  background-color: #59e391;
  padding: 70px;
}

.section-sobremi p {
  padding: 20px;
  font-size: 15px;
  line-height: 1.5;
  text-align: justify;
}

.bold {
  font-weight: bold;
}

.section-projects {
  background-color: #ff8a80;
  padding: 70px;
}

.section-projects h2 {
  font-size: 25px;

  text-align: center;
  margin-bottom: 30px;
}
.proyects-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  border-radius: 20px;
  gap: 20px;
}

.proyects-cards-item {
  padding: 20px;
  background-color: white;
  filter: drop-shadow(2px 6px 4px #adadad);
  text-align: center;
  justify-content: center;
  border-radius: 50px 50px 50px 50px;
  margin-bottom: 20px;
}

.proyects-cards-item h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 20px;
}

iframe {
  height: 150 px;
  width: 250px;
  border-radius: 10px;
  align-items: center;
}

.section-habilidades {
  background-color: #4fbcff;
  padding: 70px;
  text-align: center;
}

.section-habilidades h2 {
  font-size: 25px;
  margin-bottom: 30px;
}

.section-habilidades ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}
