* {
  margin: 0;
  padding: 0;
}

/* Colors
Background	   Vanilla Cream	#FFF9EC
Primary	       Bubblegum Blue	#4FBCFF
Secondary	   Froggy Green	#59E391
Accent 1	   Friendly Coral	#FF8A80
Accent 2	   Lemon Pop	#FFD93D
Text (Dark)	   Charcoal Ink	#2E2E2E
*/

h1,
h2,
h3,
p,
button {
  color: #2e2e2e;
}

h2,
h3,
h4 {
  font-family: "bebas-neue", sans-serif;
}

p {
  font-family: "roboto", sans-serif;
}

.section-inicio {
  background-color: #59e391;
  background-image: url("../assets/header.webp");
  background-size: cover;
  background-position: center;
  padding: 100px;
  text-align: center;
}

.section-inicio h1 {
  font-family: "playfair-display", serif;
  font-weight: 900;
  font-size: 200px;
  color: white;
}
.section-inicio h2 {
  font-family: "playfair-display", serif;
  font-weight: 900;
  font-size: 25px;
  color: rgb(234, 232, 232);
  text-align: right;
  margin-right: 180px;
}

.section-sobremi {
  height: 400px;
  background-color: #59e391;
  padding: 100px;
}

.section-sobremi p {
  padding: 20px;
  font-size: 15px;
  line-height: 1.5;
  text-align: justify;
}

.bold {
  font-weight: bold;
}
